<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/components/footer.css">
    <link rel="stylesheet" href="../css/global.css">
    <script src="../js/main.js"></script>
</head>
<body>
    <footer>
        <div class="email_footer">
                <input class="input_footer" type="search" id="search" placeholder="    Enter email address" />
                <a href="#" class="subscribe">
                <p class="font">SUBSCRIBE</p></a></div>
            <!-- footer_column_1 -->
            <div class="footer">
            <div class="footer_column_1">
                <div class="font_column_1-1">FLUFFYPET.COM</div>
                <div class="font_column_2-1">Chào mừng bạn đến với MeoWoof, cửa hàng chuyên cung cấp chó, mèo cảnh thuần chủng, khỏe mạnh và siêu đáng yêu.</div>
                <a href="#" class="font_column_3-1">đọc thêm →</a>
            </div>
            <div class="footer_column_2">
                <div class="font_column_1-2">Thông tin liên hệ</div>
                <div class="font_column_2-2">Địa điểm: <div class="font_footer">10 Huỳnh Văn Nghệ, Bửu Long, Biên Hòa, Đồng Nai</div></div>
                <div class="font_column_2-2">Phone: <div class="font_footer">0363.850.JQK</div></div>
                <div class="font_column_2-2">Email: <div class="font_footer">fluffypet@gmail.com</div></div>
                
            </div>
        </div>
    </footer>
</body>
</html>