<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/components/footer.css">
    <link rel="stylesheet" href="../css/global.css">
    <script src="../js/main.js"></script>
</head>

<body>
    <footer>
        <div class="footer">
            <div class="email_footer">
                <input class="input_footer" type="search" id="search" placeholder="    Enter email address" />
                <a href="#" class="subscribe"><p>SUBSCRIBE</p></a>
            </div>
            <!-- footer_column_1 -->
            <div class="footer_column_1">
                <div class="font_column_bold">FLUFFYPET.COM</div>
                <div class="font_column_2-1">Chào mừng bạn đến với MeoWoof, cửa hàng chuyên cung cấp chó, mèo cảnh thuần
                    chủng, khỏe mạnh và siêu đáng yêu.</div>
                <a href="#" class="font_column_3-1">đọc thêm →</a>
                <img src="../assets/image/chungnhan.png" alt="#" class="chungnhan">
            </div>
            <!-- footer_column_2 -->
            <div class="footer_column_2">
                <div class="font_column_bold">Thông tin liên hệ</div>
                <div class="font_footer_center">
                    <div class="font_column_2-2">Địa điểm: </div>
                    <div class="font_footer">10 Huỳnh Văn Nghệ, Bửu Long, Biên Hòa, Đồng Nai</div>
                </div>
                <div class="font_footer_center">
                    <div class="font_column_2-2">Phone: </div>
                    <div class="font_footer">0363.850.JQK</div>
                </div>
                <div class="font_footer_center">
                    <div class="font_column_2-2">Email: </div>
                    <div class="font_footer">fluffypet@gmail.com</div>
                </div>
            </div>
            <!-- footer_column_3 -->
            <div class="footer_column_3">
                <div class="font_column_bold">Hỗ trợ khách hàng</div>
                <div class="font_column_3-1">
                    <li class="font_column_3-2"><a href="#">Tìm kiếm</a></li>
                    <li class="font_column_3-2"><a href="#">Giới thiệu</a></li>
                    <li class="font_column_3-2"><a href="#">Chính sách bảo mật</a></li>
                    <li class="font_column_3-2"><a href="#">Chính sách giao hàng</a</li>
                    <li class="font_column_3-2"><a href="">Chính sách đổi trả</a</li>
                    <li class="font_column_3-2"><a href="#">Điều khoản dịch vụ</a></li>
                </div>
            </div>
            <!-- footer_column_3 -->
            <div class="footer_column_4">
                <div class="font_column_bold">Follow Us</div>
                <div class="media">
                    <a href="" class="icon_media">
                        <img src="../assets/icon/Facebook-icon-1.png" alt="facebook icon" class="facebook-icon icon" style="border-radius: 6px;">
                    </a>
                    <a href="" class="icon_media">
                        <img src="../assets/icon/x-icon.png" alt="x icon" class="x-icon icon" style="border-radius: 6px;">
                    </a>
                    <a href="" class="icon_media">
                        <img src="../assets/icon/Instagram_icon.png" alt="instagram icon" class="instagram-icon icon" >
                    </a>
                </div>

                <div class="font_column_4-1">
                    <img src="../assets/icon/ringer-volume.png" alt="telephone icon" class="telephone-icon icon"  style="width: calc(80px *var(--scale-factor)); height: calc(80px *var(--scale-factor));">
                    <div class="group_font">
                        <div class="font_footer_center">
                            <div class="font_column_2-2">Phone: </div>
                            <div class="font_footer">0696.969.696</div>
                        </div>
                        <div class="font_footer_center">
                            <div class="font_column_2-2">Email: </div>
                            <div class="font_footer">fluffypet@gmail.com</div>
                        </div>
                    </div>
                </div>
            </div>
            <p class="footer_root">Copyright © 2025 FLUFFYPET. Powered by Đệ anh Long</p>
        </div>
    </footer>
</body>

</html>