<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/components/footer.css">
    <link rel="stylesheet" href="../css/global.css">
    <script src="../js/main.js"></script>
</head>
<body>
    <footer>
        <div class="email_footer">
            <input class="input_footer" type="search" id="search" placeholder="    Enter email address" />
            <a href="#" class="subscribe">
            <p class="font">SUBSCRIBE</p></a>
        </div>
            <!-- footer_column_1 -->
            <div class="footer">
                <div class="footer_column_1">
                    <div class="font_column_bold">FLUFFYPET.COM</div>
                    <div class="font_column_2-1">Chào mừng bạn đến với MeoWoof, cửa hàng chuyên cung cấp chó, mèo cảnh thuần chủng, khỏe mạnh và siêu đáng yêu.</div>
                    <a href="#" class="font_column_3-1">đọc thêm →</a>
                </div>
                <!-- footer_column_2 -->
                <div class="footer_column_2">
                    <div class="font_column_bold">Thông tin liên hệ</div>
                    <div class="font_footer_center">
                        <div class="font_column_2-2">Địa điểm: </div>
                        <div class="font_footer">10 Huỳnh Văn Nghệ, Bửu Long, Biên Hòa, Đồng Nai</div>
                    </div>
                    <div class="font_footer_center">
                        <div class="font_column_2-2">Phone: </div>
                        <div class="font_footer">0363.850.JQK</div>
                    </div>
                    <div class="font_footer_center">
                        <div class="font_column_2-2">Email: </div>
                        <div class="font_footer">fluffypet@gmail.com</div>
                    </div>
                </div>
                <!-- footer_column_3 -->
                <div class="footer_column_3">
                    <div class="font_column_bold">Hỗ trợ khách hàng</div>
                    <div class="font_column_3-1">
                        <li class="font_column_3-2">Tìm kiếm</li>
                        <li class="font_column_3-2">Giới thiệu</li>
                        <li class="font_column_3-2">Chính sách bảo mật</li>
                        <li class="font_column_3-2">Chính sách giao hàng</li>
                        <li class="font_column_3-2">Chính sách đổi trả</li>
                        <li class="font_column_3-2">Điều khoản dịch vụ</li>
                    </div>
                </div>
                <!-- footer_column_3 -->
                <div class="footer_column_4">
                    <div class="font_column_bold">Follow Us</div>
                    <div class="media">
                        <img src="../assets/icon/facebook-icon.png" alt="facebook icon" class="facebook-icon icon">
                        <img src="../assets/icon/x-icon.png" alt="x icon" class="x-icon icon">
                        <img src="../assets/icon/instagram-icon.png" alt="instagram icon" class="instagram-icon icon">
                    </div>

                    <div class="font_column_4-1">
                        <img src="../assets/icon/ringer-volume.png" alt="telephone icon" class="telephone-icon icon">
                        <div class="group_font">
                            <div class="font_footer_center">
                                <div class="font_column_2-2">Phone: </div>
                                <div class="font_footer">0363.850.JQK</div>
                            </div>
                            <div class="font_footer_center">
                                <div class="font_column_2-2">Email: </div>
                                <div class="font_footer">fluffypet@gmail.com</div>
                            </div>
                        </div>
                </div>
            </div>
            <!-- adsaa -->
        </div>
        <img src="../assets/image/chungnhan.png" alt="#" class="chungnhan">
        <p class="footer_root">Copyright © 2025 FLUFFYPET. Powered by Đệ anh Long</p>
    </footer> 
</body>
</html>