<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/components/header.css">
    <link rel="stylesheet" href="../css/global.css">
    <script src="../js/main.js"></script>
</head>

<body>
    <header>
        <div class="top_header">
            <div class="info-container">
                <div class="adress"><img src="../assets/icon/adress-icon.png" alt="adress icon"
                        class="adress-icon icon">10
                    Huỳnh Văn Nghệ, Bửu Long, Biên Hòa, Đồng Nai</div>
                <div class="work_time"><img src="../assets/icon/time-icon.png" alt="time icon"
                        class="work_time-icon icon">Hoạt động: 7:00AM - 20:00PM</div>
            </div>

            <div class="media">
                <a href="" class="media_link"><img src="../assets/icon/facebook-icon.png" alt="facebook icon" class="facebook-icon icon"></a>|
                <a href="" class="media_link"><img src="../assets/icon/x-icon.png" alt="x icon" class="x-icon icon"></a>|
                <a href="" class="media_link"><img src="../assets/icon/instagram-icon.png" alt="instagram icon" class="instagram-icon icon"></a>|
                <div>
                    <img src="../assets/icon/tel-icon.png" alt="telephone icon" class="tel-icon icon">
                    <p class="tel_number">0696.969.696</p>
                </div>
            </div>
        </div>

        <div class="nav_bar">
            <a href="../home.html"><img src="../assets/image/logo.png" alt="logo image" class="logo"></a>
            <div class="nav_link-container">
                <a href="../home.html" class="nav_link">Trang Chủ</a>
                <a href="../shop.html?type=cats" class="nav_link">Bé Mèo</a>
                <a href="../shop.html?type=dogs" class="nav_link">Bé Chó</a>
                <a href="../shop.html?type=products" class="nav_link">Sản Phẩm</a>
                <a href="#footer" class="nav_link">Liên Hệ</a>
            </div>

            <div class="action">
                <a href="../cart.html"><img src="../assets/icon/cart-icon.png" alt="cart icon" class="cart-icon icon"></a href="../cart.html">
            </div>
        </div>
    </header>
</body>

</html>