<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/components/header.css">
    <link rel="stylesheet" href="../css/global.css">
    <script src="../js/main.js"></script>
</head>

<body>
    <header>
        <div class="top_header">
            <div class="info-container">
                <div class="adress"><img src="../assets/icon/adress-icon.png" alt="adress icon"
                        class="adress-icon icon">10
                    Huỳnh Văn Nghệ, Bửu Long, Biên Hòa, Đồng Nai</div>
                <div class="work_time"><img src="../assets/icon/time-icon.png" alt="time icon"
                        class="work_time-icon icon">Hoạt động: 7:00AM - 20:00PM</div>
            </div>

            <div class="media">
                <a href="" class="media_link"><img src="../assets/icon/facebook-icon.png" alt="facebook icon" class="facebook-icon icon"></a>|
                <a href="" class="media_link"><img src="../assets/icon/x-icon.png" alt="x icon" class="x-icon icon"></a>|
                <a href="" class="media_link"><img src="../assets/icon/instagram-icon.png" alt="instagram icon" class="instagram-icon icon"></a>|
                <div>
                    <img src="../assets/icon/ringer-volume.png" alt="telephone icon" class="telephone-icon icon">
                    0696.969.696
                </div>
            </div>
        </div>

        <div class="nav_bar">
            <img src="../assets/image/logo.png" alt="logo image" class="logo">
            <div class="nav_link-container">
                <a href="#" class="nav_link">Bé Mèo</a>
                <a href="#" class="nav_link">Bé Chó</a>
                <a href="#" class="nav_link">Thức Ăn</a>
                <a href="#" class="nav_link">Sự Kiện</a>
                <a href="#" class="nav_link">Liên Hệ</a>
            </div>

            <div class="action">
                <button><img src="../assets/icon/search-icon.png" alt="search icon" class="search-icon icon"></button>
                <button><img src="../assets/icon/account-icon.png" alt="account icon" class="account-icon icon"></button>
                <button><img src="../assets/icon/cart-icon.png" alt="cart icon" class="cart-icon icon"></button>
            </div>
        </div>
    </header>
</body>

</html>