.centered-fixed{
    max-width: calc(1920px * var(--scale-factor));
    margin-left: calc(223px * var(--scale-factor));
    margin-right: calc(222px * var(--scale-factor));
    display: flex;
    margin-top:calc(50px * var(--scale-factor));
}
.main-left{
    width: calc(990px * var(--scale-factor));
    display: flex;
    background-color: wheat;
    flex-direction: column;
}
.author_information , author_information_text{
    display: flex;
    font-size: 18px;
    font-weight: 250;
}
/* ảnh to phần tiêu đề */
.image_head{
    border-radius: calc(15px * var(--scale-factor));
}
/* Các nội dung chính */
.main_content{
    display: flex;
    flex-direction: column;
    margin-left:calc(50px * var(--scale-factor));
}
.main_content_bold{
    font-weight: bold;
    font-size: var(--font-large);
}
.font_style{
    font-size: var(--font-small);
}
.content_font{
    margin-top:calc(5px * var(--scale-factor));
}
.main-right{
    margin-left:calc(50px * var(--scale-factor));
    display: flex;
    background-color: aqua;
    width: calc(445px * var(--scale-factor));;
}