main {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    padding-bottom: 5%;
}

/*========== shop banner ==========*/
img.shop-banner {
    width: calc(1636px*var(--scale-factor));
    height: calc(546px*var(--scale-factor));
    margin-top: 5%;
    border-radius: calc(60px*var(--scale-factor));
    border: 1px solid;
    box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.3);
}

/*========== shop container ==========*/
.shop-container {
    display: flex;
    margin-top: var(--spacing-medium);
    justify-content: space-between;
}

    /*========== filter panel ==========*/
.filter-container {
    width: calc(370px*var(--scale-factor));
    height: calc(560px*var(--scale-factor));
    background-color: rgba(207, 156, 156, 0.2);
    border-radius: calc(15px*var(--scale-factor));
    border: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: inherit;
}

.filter-section {
    margin-bottom: 15px;
    width: calc(292px*var(--scale-factor));
    height: calc(44px*var(--scale-factor));
}

.filter-container>h2 {
    font-size: calc(25px*var(--scale-factor));
    font-weight: var(--font-semi-bold);
    align-self: flex-start;
    margin: 0;
    margin-left: var(--spacing-large);
    margin-top: var(--spacing-medium);
}

h2+.filter-section {
    margin-top: var(--spacing-medium);
}

label {
    display: block;
    margin-bottom: 5px;
    color: black;
}

    /*========== Dropdown ==========*/
.dropdown {
    position: relative;
}

.dropdown-input {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background-color: white;
    box-sizing: border-box;
    font-size: var(--font-medium);
}

.dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 10;
    display: none;
}

.option {
    padding: 8px;
    cursor: pointer;
}

.option:hover {
    background-color: #f0f0f0;
}

    /*========== Nhóm radio button ==========*/
.radio-group {
    height: calc(44px*var(--scale-factor));
    display: flex;
    background-color: white;
    border-radius: calc(5px*var(--scale-factor));
    border: 1px solid var(--border-color);
}

.radio-group input {
    display: none;
}

.radio-group label {
    flex: 1;
    font-size: var(--font-small);
    font-weight: 300;
    text-align: center;
    line-height:calc(44px*var(--scale-factor)) ;
    cursor: pointer;
    margin: 0;
}

.radio-group input:checked+label {
    background-color: #FCE4EC;
}

    /*========== Nút tìm kiếm và reset ==========*/
.search-button {
    width: calc(290px*var(--scale-factor));
    background-color: #3B5998;
    color: white;
    border: none;
    border-radius: calc(50px*var(--scale-factor));
    cursor: pointer;
    padding: calc(10px*var(--scale-factor));
    margin-top: var(--spacing-large);
    font-size: var(--font-medium);
}

.reset-button {
    width: 100%;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    font-size: var(--font-small);
    text-decoration: underline;
    text-align: center;
    margin-top: var(--spacing-medium);
}

    /*========== product grid ==========*/
.product {
    /* flex-grow: 2; */
    width: fit-content;
}

.product-grid {
    display: grid;
    grid-template-columns:repeat(4, minmax(calc(260px*var(--scale-factor)),1fr));
    grid-template-rows:repeat(auto-fill, calc(420px*var(--scale-factor)));
    justify-items: center;
    gap: calc(20px*var(--scale-factor));
}

        /*========== product item ==========*/
.product-item {
    width: calc(260px*var(--scale-factor));
    height: calc(420px*var(--scale-factor));
    background-color: var(--primary-color);
    border-radius: calc(10px*var(--scale-factor));
    border: 1px solid #ccc;
    position: relative;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.product-img{
    width: calc(257px*var(--scale-factor));
    height: calc(257px*var(--scale-factor));
    border: 1px solid #ccc;
    border-radius: calc(10px*var(--scale-factor));
}

.product-tag {
    position: absolute;
    top: 2%;
    left: 5%;
    background-color: var(--color-light-pink);
    color: var(--color-dark);
    padding: calc(5px*var(--scale-factor));
    font-size: var(--font-small);
    font-weight: var(--font-semi-bold);
    border-radius: calc(10px*var(--scale-factor));
}

.pet_gender{
    width: max-content;
    background-color: var(--border-color);
    margin-left: var(--spacing-medium);
    margin-top: var(--spacing-small);
    padding: 2%;
    border-radius: calc(10px*var(--scale-factor));
    font-size: var(--font-small);
}

.product-name{
    margin-bottom: 0;
    margin-top: calc(10px*var(--scale-factor));
    margin-left: var(--spacing-medium);
}

.product-price{
    display: flex;
    align-items: flex-end;
    margin-top: var(--spacing-small);
    margin-left: var(--spacing-medium);
}

.product-price>p{
    margin: 0;
}

.product-price>p+p{
    margin-left: 5px;
}

.product-current_price{
    font-size: calc(25px*var(--scale-factor));
    font-weight: var(--font-semi-bold);
    color: var(--color-dark-blue);
}

.product-old_price{
    font-size: calc(15px*var(--scale-factor));
    text-align: justify;
    text-decoration: line-through;
}

.discount{
    font-size: var(--font-medium);
    font-weight: var(--font-semi-bold);
    color: var(--color-red);
}

.product-item>input{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(40px*var(--scale-factor));
    border: 1px solid;
    font-size: var(--font-medium);
}

    /*========== pagination  ==========*/
.pagination {
    margin-top: var(--spacing-small);
    justify-self: center;
    font-size: var(--font-medium);
}